* {
    font-size: 16px;
    font-family: "HackNerdFont";
    min-height: 0;
}

window#waybar {
    background: rgba(0, 0, 0, 0.6);
    color: #fdf6e3;
}

#clock,
#pulseaudio,
#backlight,
#memory,
#cpu,
#battery,
#disk,
#custom-pomodoro,
#custom-notification,
#network {
    padding: 1 10px;
    box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.25);
    transition: all 0.3s ease;
}

#clock {
    background-color: rgba(25, 25, 25, 0.6);
    border: 1px solid rgba(255, 255, 255, 0.1);
}

#workspaces,
#tray {
    margin: 0px 15px;
    box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.25);
}

#workspaces {
    margin-top: 3px;
    margin-bottom: 2px;
    margin-right: 10px;
    margin-left: 25px;
}

#workspaces button {
    padding: 0 3px;
    color: #aaaaaa;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 8px;
    border: none;
    transition: all 0.2s ease;
    color: #bd93f9;
}

#workspaces button.active,
#workspaces button.focused {
    padding: 0 3px;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    background: #a656dd;
    color: #282a36;

}

#workspaces button:hover {
    background-color: rgba(162, 155, 254, 0.3);
    box-shadow: 0px 3px 8px rgba(162, 155, 254, 0.5);
    color: #aaaaaa;
}

#pulseaudio {
    color: #2aa198;
}

#backlight {
    color: #268bd2;
}

#memory {
    color: #2aa198;
}

#cpu {
    color: #6c71c4;
}

#bluetooth {
    color: #268bd2;
}

#bluetooth.off {
    color: #ff5c5c;
}


#custom-power {
    color: #ff5c5c;
    font-size: 19px;
}

#custom-pomodoro.work {
    color: #ff5c5c;
}

#custom-pomodoro.break {
    color: #ffcc80;
}

#battery {
    color: #859900;
}

#battery.warning {
    color: #ffa500;
}

#battery.critical {
    color: #ff0000;
}

#disk {
    color: #b58900;
}

#network {
    color: #6c71c4;
}

#network.disconnected {
    color: #ff0000;
}

#workspaces button:focus,
#tray:focus {
    outline: none;
    box-shadow: 0px 4px 15px rgba(255, 255, 255, 0.5);
}
